# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Images
*.png
*.jpg

#Marked language
*.xml
*.json
*.config
*.iml

log/
regbot/
robobot/.svn/
robobot/doc/
robobot/ip_disp/
robobot/multi_cpu/
robobot/socket-base-py/
robobot/raubase/img/
robobot/raubase/build/
robobot/golfball/.vs/
robobot/golfball/test.cpp

# robobot/raubase/build/img
# robobot/raubase/build/log*
# robobot/raubase/build/*.swp
# robobot/raubase/build/*.txt
# robobot/raubase/build/raubase

